@import "./authStyles/login.css";
@import "./home/home.css";
@import "./profile/profile.css";
@import "./profile/createPost.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
}
button, input, textarea, button:focus, input:focus, textarea:focus{
    border: none;
    outline: none;
}

.btn__primary{
    background-color: #3897F1;
    color: #fff;
}
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid #dbdbdb;
}
.navbar__container{
    display: flex;
    align-items: center;
    max-width: 975px;
    width: 100%;
    z-index: 1;
    height: 100%;
    padding: 0 20px;
}

nav .logo{
    flex: 1 9999 0%;
    min-width: 40px;
    justify-content: flex-start;
    display: flex;
}
nav a:active{
    opacity: 0.5;
}

.nav__logo{
    width: 110px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.search__form{
    height: 20px;
    flex: 0 1 auto;
    min-width: 125px;
    width: 215px;
}
.search__form input{
    height: 100%;
    font-size: 18px;
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    color: #262626;
    padding: 3px 10px 3px 26px;
}

.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 10px;
    white-space: nowrap;
    align-items: center;
    flex: 1 0 0%;
}
/* .nav__links a.active svg{
    fill: rgb(38, 38, 38) !important;
} */
.nav__links .dropdownPhoto img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    /* border: 1px solid black;
    padding: 5px; */
}
.nav__links a:not(:first-child),
.nav__links .dropdownPhoto {
    margin-left: 22px;
}

main{
    padding-top: 60px;
}

@media (max-width : 700px){
    .search__form{
        display: none;
    }
}